
{% extends 'chef_m/base.html' %}
{% block content %}
<div class="item-bar item-large item-flex-center">
  <div class="item-bar-item item-left item-green">Кухар: {{user.username}}</div>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/logout/">Вийти</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow " href="/chef_m_portal/auth/">Головна</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/order_list/">Замовлення</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/manage_vehicles/">Столики</a>
  <div class="item-bar-item item-pale-green item-right" href="/chef_m_portal/history/">Прибуток : ${{wallet}}</div>

</div>
<h3 class="item-center" style="padding-top:30"><b class="item-pale-green">Відомість</b></h3>
<div style="padding:18">
<table class="item-table item-striped item-center">
 
  <tr>
    <th>Ім'я </th>
    <th>Бронювання</th>
    <th>Час(годин) </th>
    <th>К-ть місць</th>
    <th>
    </th>
  </tr>
  {% for order in order_list %}
  <tr>
    <td>{{order.vehicle.table_name}}</td>
    <td>${{order.rent}}</td>
    <td>{{order.days}}</td>
    <td>{{order.vehicle.capacity}}</td>
    <td>
      <form action = "/chef_m_portal/complete/" method="post">

        {% csrf_token %}
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}
