
{% extends 'chef_m/base.html' %}
{% block content %}
{% load static %}

<div class="item-bar item-large item-flex-center item-flex-center">
  <div class="item-bar-item item-left item-green">Кухар: {{user.username}}</div>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/logout/">Вийти</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/order_list/">Замовлення</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/manage_vehicles/">Столики</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/history/">Прибуток</a>

</div>

<div class="item-display-container" style="height:800px;">
  <div class="item-display-right" style="padding-right: 100px;">

<h3 class="item-container item-bar item-yellow item-large" style="padding:8px"><center>Додайте столик<center></h3>


<form class="item-container  item-transblue" action="/chef_m_portal/add_vehicle/" method="post">{% csrf_token %}
  <lable>Номер :</lable> <input class="item-input" type="text" name="table_name"><br><br>
  <lable>Форма :</lable> <input class="item-input" type="text" name="shape"><br><br>
  <lable>Адреса :</lable> <input class="item-input" type="text" name="city"><br><br>
  <lable>Дата</lable> <input class="item-input" type="text" name="date"><br><br>
  <lable>Розмір :</lable> <input class="item-input" type="text" name="size"><br><br>
  <lable>К-ть місць :</lable> <input class="item-input" type="text" name="seats"><br><br>
  <input class="item-btn item-green" type="submit" value="Додати"><br><br>
<form>
</div>

<div class = "item-display-left">
  <img src="{% static "images/nyTable.jpeg" %}" width="750px">
</div>

{% endblock %}
