{% extends 'chef_m/base.html' %}
{% block content %}
<div class="item-bar">
 
  <a class="item-bar-item item-right item-btn item-teal" href="/chef_m_portal/login/">Логін</a>
  <a class="item-bar-item item-right item-btn item-teal" href="/">Головна</a>
</div>
<div class="item-display-container"  style="height:1000px;">
<div class="item-display-middle">

  <b> <h2>Реєстраційна форма</h2></b>

<form class="item-container" action="/chef_m_portal/registration/" method="POST">{% csrf_token %}
  <lable>Ім'я</lable> <input class="item-input" type="text" name="firstname"><br><br>
  <lable>Прізвище</lable> <input class="item-input" type="text" name="lastname"><br><br>
  <lable>Ім'я користувача</lable> <input class="item-input" type="text" name="username"><br><br>
  <lable>Пароль</lable> <input class="item-input" type="password" name="password"><br><br>
  <lable>Електронна пошта</lable> <input class="item-input" type="text" name="email"><br><br>
  <lable>Контакти</lable> <input class="item-input" type="text" name="mobile"><br><br>
  <lable>Адреса</lable> <input class="item-input" type="text" name="city"><br><br>
  <lable>Дата</lable> <input class="item-input" type="text"  name="date"><br><br>
  <input class="item-btn item-teal item-yellow" type="submit" value="Надіслати"><br><br>
</form>
</div>
</div>

{% endblock %}
