{% extends 'car_dealer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-flex-center">
  <div class="w3-bar-item w3-left w3-green">Кухар: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-pale-yellow" href="/car_dealer_portal/logout/">Вийти</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-pale-yellow " href="/car_dealer_portal/auth/">Головна</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-pale-yellow" href="/car_dealer_portal/order_list/">Замовлення</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-pale-yellow" href="/car_dealer_portal/manage_vehicles/">Столики</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-pale-yellow" href="/car_dealer_portal/history/">Прибуток</a>
</div>
<h3 class="w3-center " style="padding-top:30"><b class="w3-pale-green">Перелік замовлень на столик</b></h3>
<div style="padding:18">
<table class="w3-table w3-striped w3-center">


  <tr>
    <th style="padding:20">Ім'я </th>
    <th style="padding:20">Форма</th>
    <th style="padding:20">Сума орендної плати </th>
    <th style="padding:20">Дні </th>
    <th style="padding:20">Прибрати
    </th>
  </tr>

  {% for order in order_list %}

  <tr>
    <td>{{order.vehicle.car_name}}</td>
    <td>{{order.vehicle.color}}</td>
    <td>${{order.rent}}</td>
    <td>{{order.days}}</td>
    <td><form action = "/car_dealer_portal/complete/" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{order.id}}">
      <input class="w3-btn w3-indigo" type="submit" value="Завершено">
    </form></td>
  </tr>

{% endfor %}
</table>
</div>
{% endblock %}
