{% extends 'car_dealer/base.html' %}
{% block content %}
{% csrf_token %}
<div class="w3-bar">
  <div class="w3-bar-item w3-left">Реєстраційна форма</div>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/car_dealer_portal/login/">Логін</a>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/">Головна</a>
</div>
<div class="w3-center">
<p class="w3-large w3-green">
Успішна реєстрація!
</p>
<p class="w3-large w3-green">
Тепер переходьте до <a class="w3-btn w3-teal" href="/car_dealer_portal/login/">Сторінки входу<a> і увійдіть в систему!
</p>
</div>
{% endblock %}
