<<<<<<<< HEAD:chef_m_portal/templates/chef_m/login.html
{% extends 'chef_m/base.html' %}
========
{% extends 'chef/base.html' %}
>>>>>>>> b9cc3765ce8c190e81092c2d031994f7577414ba:chef_portal/templates/chef/login.html

{% block content %}

<div class="item-display-container" style="height:500px;">
  <div class="item-display-middle">
<<<<<<<< HEAD:chef_m_portal/templates/chef_m/login.html
      <form class = "item-container" action="/chef_m_portal/auth/" method="POST">{% csrf_token %}
========
      <form class = "item-container" action="/chef_portal/auth/" method="POST">{% csrf_token %}
>>>>>>>> b9cc3765ce8c190e81092c2d031994f7577414ba:chef_portal/templates/chef/login.html
        <lable>Ім'я користувача</lable>  <input class="item-input" type="text" name="username"><br><br>
        <lable>Пароль</lable>  <input class="item-input" type="password" name="password"><br><br>
        <input class="item-btn item-green" type="submit" value="Логін">
      </form><br><br>
      <div class="item-container">
<<<<<<<< HEAD:chef_m_portal/templates/chef_m/login.html
        <a class="item-btn item-red" href="/chef_m_portal/register/">Зареєструйтесь як кухар</a>
========
        <a class="item-btn item-red" href="/chef_portal/register/">Зареєструйтесь як кухар</a>
>>>>>>>> b9cc3765ce8c190e81092c2d031994f7577414ba:chef_portal/templates/chef/login.html
        <a class="item-btn item-teal item-yellow" href="/">Головна</a>
      </div>
  </div>
</div>
{% endblock %}
