<<<<<<<< HEAD:chef_m_portal/templates/chef_m/registration_error.html
{% extends 'chef_m/base.html'%}
{% block content %}
<div class="item-pale-red">
    <p>Ім'я користувача вже існує, спробуйте використати інше ім'я користувача. <a href="/chef_m_portal/login/">Сторінка входу</a></p>
========
{% extends 'chef/base.html'%}
{% block content %}
<div class="item-pale-red">
    <p>Ім'я користувача вже існує, спробуйте використати інше ім'я користувача. <a href="/chef_portal/login/">Сторінка входу</a></p>
>>>>>>>> b9cc3765ce8c190e81092c2d031994f7577414ba:chef_portal/templates/chef/registration_error.html
</div>
{% endblock %}
