<<<<<<<< HEAD:chef_m_portal/templates/chef_m/vehicle_added.html
{% extends 'chef_m/base.html' %}
========
{% extends 'chef/base.html' %}
>>>>>>>> b9cc3765ce8c190e81092c2d031994f7577414ba:chef_portal/templates/chef/vehicle_added.html
{% block content %}
{% csrf_token %}
<div class="item-bar item-large item-flex-center">
  <div class="item-bar-item item-left item-green">Кухар: {{user.username}}</div>
<<<<<<<< HEAD:chef_m_portal/templates/chef_m/vehicle_added.html
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/logout/">Вийти</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow " href="/chef_m_portal/auth/">Головна</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/order_list/">Замовлення</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/manage_vehicles/">Столики</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_m_portal/history/">Прибуток</a>
========
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_portal/logout/">Вийти</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow " href="/chef_portal/auth/">Головна</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_portal/order_list/">Замовлення</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_portal/manage_vehicles/">Столики</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/chef_portal/history/">Прибуток</a>
>>>>>>>> b9cc3765ce8c190e81092c2d031994f7577414ba:chef_portal/templates/chef/vehicle_added.html
</div>

<div class="item-display-container" style="height:300px;">
  <div class="item-display-middle item-green">
    Додані відомості про столик! <br><br>
<<<<<<<< HEAD:chef_m_portal/templates/chef_m/vehicle_added.html
    <a href="/chef_m_portal/index/">Повернутись до головної сторінки</a>
========
    <a href="/chef_portal/index/">Повернутись до головної сторінки</a>
>>>>>>>> b9cc3765ce8c190e81092c2d031994f7577414ba:chef_portal/templates/chef/vehicle_added.html
</div>
</div>
{% endblock %}
