{% extends 'customer/base.html' %}
{% block content %}
<div class="item-bar item-large item-flex-center">
  <div class="item-bar-item item-left item-green">Клієнтський портал: {{user.username}}</div>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/customer_portal/logout/">Вийти</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/customer_portal/manage/">Замовлення</a>
  <a class="item-ber-item item-btn item-teal item-right" href="/customer_portal/search/">Бронювати столик</a>
</div>
{% csrf_token %}

<div class="item-display-container" style="height:400px;">
  <div class="item-display-middle">
<h3><b>Замовлення виконано</b></h3>
<b>Ваше замовлення на Номермобіль оброблено!</b><br><br>
<b>Загальна орендна плата :</b> ${{order.rent}}<br><br>
<b>столик :</b> {{order.vehicle.table_name}}<br><br>
<b>Тривалість :</b> {{order.days}} days<br><br>
<b>менеджер :</b> {{order.car_dealer.car_dealer.first_name}} {{order.car_dealer.car_dealer.last_name}}<br><br>
<b>Контактна особа Номердилера:</b> {{order.car_dealer.mobile}}<br><br>
</div>
</div>
{% endblock %}
