{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-flex-center">
  <div class="w3-bar-item w3-left w3-green">Клієнтський портал: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-pale-yellow" href="/customer_portal/logout/">Вийти</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right w3-pale-yellow" href="/customer_portal/manage/">Замовлення</a>
  <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_portal/search/">Бронювати столик</a>
</div>
{% csrf_token %}

<div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">
<h3><b>Замовлення виконано</b></h3>
<b>Ваше замовлення на Номермобіль оброблено!</b><br><br>
<b>Загальна орендна плата :</b> ${{order.rent}}<br><br>
<b>столик :</b> {{order.vehicle.table_name}}<br><br>
<b>Тривалість :</b> {{order.days}} days<br><br>
<b>менеджер :</b> {{order.car_dealer.car_dealer.first_name}} {{order.car_dealer.car_dealer.last_name}}<br><br>
<b>Контактна особа Номердилера:</b> {{order.car_dealer.mobile}}<br><br>
</div>
</div>
{% endblock %}
