{% extends 'customer/base.html' %} {% block content %} {% load static %}
<div class="item-bar item-large item-flex-center">
  <a class="item-bar-item item-btn item-teal item-left" href="/customer_portal/logout/"
    >Вийти</a
  >
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/customer_portal/manage/"
    >Переглянути заброньоване</a
  >
</div>
<div class="item-bar-item item-center item-white-text item-xxlarge">
  Вітаю {{user.username}} !!!
</div>

<div class="item-flex-center">
  <div class="item-center item-red item-xxlarge" style="width:450px">
   Схема кафе
  </div>
</div>
<div
  class="item-center"
  style="height: 500px; padding: 20px"
>
  <img src="{% static 'images/cafe-scheme.jpg' %}">
</div>
<div>
  <a class="item-btn item-yellow item-xlarge" href="/customer_portal/search/"
    ><b>Забронюйте столик вже сьогодні</b></a
  >
</div>
{% endblock %}
