{% extends 'customer/base.html' %}

{% block content %}

{% if form.errors %}

{% endif %}
<div class="item-display-container" style="height:500px;">
  <div class="item-display-middle">
<form class="item-container" action="/customer_portal/auth/" method="POST">{% csrf_token %}
  <lable>Ім'я користувача :</lable> <input class="item-input" type="text" name="username"><br><br>
  <lable>Пароль :</lable> <input class="item-input" type="password" name="password"><br><br>
  <input class="item-btn item-green" type="submit" value="Логін">
</form><br><br>
<div class="item-container">
<a class="item-btn item-red" href="/customer_portal/register/">Зареєструйтесь як клієнт</a>
<a class="item-btn item-teal item-yellow" href="/">Головна</a>
</div>
</div>
</div>
{% endblock %}
