{% extends 'customer/base.html' %}
{% block content %}

<div class="item-bar item-large item-flex-center">
  <div class="item-bar-item item-left item-green">Клієнтський портал: {{user.username}}</div>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/customer_portal/logout/">Вийти</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/customer_portal/manage/">Замовлення</a>
  <a class="item-ber-item item-btn item-teal item-right" href="/customer_portal/search/">Бронювати столик</a>
</div>
<div class="item-container item-center" style="padding:60px;">
{% endblock %}
