{% extends 'customer/base.html' %}
{% block content %}
<div class="item-bar item-large item-flex-center">
  <div class="item-bar-item item-left item-green">Клієнтський портал: {{user.username}}</div>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/customer_portal/logout/">Вийти</a>
  <a class="item-bar-item item-btn item-teal item-right item-pale-yellow" href="/customer_portal/manage/">Замовлення</a>
</div>

<div class="item-display-container" style="height:300px;">
  <div class="item-display-middle">

<form class="item-container" action="/customer_portal/search_results/" method="post">
  {% csrf_token %}
  <br><br>
  <lable>Адреса:</lable> <input class="item-input" type="text" name="city"><br><br>
  <input class="item-btn item-green" type="submit" value="Пошук">
</form>

</div>
</div>

{% endblock %}
